<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Ponto Set</title>
    <link rel="stylesheet" href=" {{ 'style.scss.css' | asset_url }}">
    <meta name="description" content="Ponto Set e a sua Loja Angolana para todos os productos de Tenis e Padel, oferecendo
          productos como raquetes, bolas, t-shirts, saias entre outros.">
    <link rel="https://https://ponto-set.myshopify.com/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>

  <body>

    {% section 'header' %}
    {{ content_for_header }}

    {% section 'cart-popup' %}

    <main
      id="MainContent"
      class="content-for-layout focus-none"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>


    {% section 'footer' %}

    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>