<html>
  <!--Used for shopify to inject scripts and plugins as well -->
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <!--Where all the template data will be pluged in -->
    {{ content_for_layout }}
  </body>
</html>