<div class="width">
  <a href="{{routes.root_url}}"><img src="{{'PontoSetLogo.jpg' | asset_url }}" alt="ponto set logo"></a>
</div>

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      }
    ]
  }
{% endschema %}