<div class="width">
  <a href="/" class="header-logo">
    <img src="{{section.settings.logo | img_url: 'master' }}" alt="ponto set logo">
  </a>
</div>

<style>
  .header-logo {
    max-width: {{ section.settings.logo_width }}
    px;
  }
</style>

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 25,
        "min": 0,
        "max": 300,
        "step": 5
      }
    ]
  }
{% endschema %}