<div class="width title_text">
  <div class="grid">
    <div class="grid_item">
      {% if section.settings.section_title != blank %}
        <div class="text_header-{{ section.settings.text_size }} text-center">
          <h2 class="text_heading">
            {{ section.settings.section_title | escape }}
          </h2>
        </div>
      {% endif %}
      {% if section.settings.section_text != blank %}
        <div class="text_main_text">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% style %}
  .title_text {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
  .index-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid_item {
    display: flex;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Title Text",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Talk about your brand"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "select",
        "id": "text_size",
        "label": "Size",
        "default": "medium",
        "options": [

          {
            "label": "Small",
            "value": "small"
          }, {
            "label": "Medium",
            "value": "medium"
          }, {
            "label": "Large",
            "value": "large"
          }
        ]
      }

    ],

    "presets": [
      {
        "name": "Title text",
        "category": "Text"
      }
    ]
  }
{% endschema %}