input {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: 400 !important;
    touch-action: manipulation !important;
    margin: 0 !important;
    border: 5px solid black !important;
    background-color: white !important;
    color: black !important;
    max-width: 100% !important;
    line-height:  1.2 !important;
    border: 15px !important;
}

.form-vertical input, .form-vertical select, .form-vertical textarea {
    display: block;
    width: 100%;
    margin-bottom: 19.44444px;
}

label {
    display: block;
    margin-bottom: 5px;
}

label[for] {
    cursor: pointer;
}

.grid {
    display: flex;
}

.grid__item {
    float: left;
    padding-left: 30px;
    width: 100%;
}

.contact_pg {
    display: block;
    width: 100%;
}

.contact_pg .left_side {
    width: 70%;
    float: left;
    padding: 0 15px;
}

.grid-half {
    margin-left: -15px ;
}

.grid-half > .grid__item {
    padding-left: 15px;
}

.contact-form input, .contact-form select, .contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 19.44444px;
}

.btn {
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 19px 37px 16px 33px;
    background-color: #faa902;
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-weight: 900;
    font-size: 14px;

  }

