/* Main Section Page section styling */
#shopify-section-template--19293825040703__MainSectionHomePage {
    background: url(../assets/Banner.png) no-repeat;
    background-size: cover;
}

.banner__box {
  @media (min-width: 686px) {
    text-align: center;
    padding: 20rem 10rem;
    position: relative;
    height: fit-content;
    align-items: center;
    width: 100%;
    z-index: 1;
  }

  @media (min-width: 686px) and (max-width: 1130px){
    padding: 12rem 4rem;
  }

  @media (max-width: 685px){
     padding: 6.5rem 4rem;
    text-align: center;
  }
}

/* .banner__box .content-container .content-container--full-width-mobile .color- .gradient{
  
} */

.banner__buttons{
  position: relative;
  overflow: hidden;
  background-color: #FAA902;
  color: black;
  padding: 8px 4px;
  border: none;
  cursor: pointer;
  display: inline;
  text-transform: capitalize;
}

/* ripple effect on button*/
.banner_buttons::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  opacity: 0;
}

/* Add animation to the ripple effect */
@keyframes ripple {
  0% {
    opacity: 1;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 200px;
    height: 200px;
  }
}

a.button.button--primary {
    color: black;
}



/******** Custom content Section Styling ******************/
.custom-content {
    display: flexbox;
    align-items: stretch;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 30px ;
    margin-left: 30px;

    @media (max-width: 767px) {
        margin-bottom: 22px;
        margin-left: 22px;
    }
}

.section-header.text-center {
    text-align: left; !important
}

div#shopify-section-template--19293825040703__1eca8bb0-9de1-458e-b883-e367667856be .custom-content {
  padding: 31px 0 0 0;
}.page-title {
  text-align: center;
}

div#shopify-section-template--19293825040703__1eca8bb0-9de1-458e-b883-e367667856be .custom__item-inner--image {
  margin-top: 5rem;
}

/* #shopify-section-template--19293825040703__1eca8bb0-9de1-458e-b883-e367667856be .custom__item.custom__item--1575353620502-1.small--one-half.medium-up--one-half.align--center {
    width: 41%;
}

#shopify-section-template--19293825040703__1eca8bb0-9de1-458e-b883-e367667856be .custom__item.custom__item--1575353653254.small--one-half.medium-up--one-half {
    width: 59%;
} */

h4.custom-content-h4 {
    margin: 0;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 36px;
    width: 100%;
    color: #FAA902;
    border: 1px solid #FAA902;
    border-bottom: unset;
    text-align: center;
}

.rte-setting.rte{
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  color: black;
    font-family: fantasy;
}

.custom__image {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

/* Section header styling */
.section-header {
  margin-bottom: 30px;
  padding: 16px 0;
  background: #FAA902; 
  display: inline-block;
  width: 100%;
}

/* Explore Button Styling */
.button-section {
  text-align: center;
}
.button {
  display: inline-block;
  padding: 0.70em 1.3em;
  font-size: 1.3em;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #FAA902;
  border: none;
  border-radius: 0.62em;
  box-shadow: 0 0.25em #999999;
}

.button:hover {
  background-color: #B67B03
}

.button:active {
  background-color: #5c6ac4;
  box-shadow: 0 0.125em #B67B03;
  transform: translateY(0.25em);
}

@media (max-width: 767px) {
  .button {
    font-size: 0.8em;
    padding: 0.3em 0.6em;
  }
}


/* Featured Row section of home page  */


