/* Main Section Page section styling */
#shopify-section-template--19293825040703__MainSectionHomePage {
    background: url(../assets/Banner.png) no-repeat;
    background-size: cover;
    display: block;
}

.banner__box {
    text-align: center;
    padding: 6rem 4rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
}

/* Custom content Section Styling */
.custom-content {
    display: flexbox;
    align-items: stretch;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 30px ;
    margin-left: 30px;

    @media (max-width: 767px) {
        margin-bottom: 22px;
        margin-left: 22px;
    }
}

/* .custom__image {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.custom__item-inner--image {
  position: relative;
  margin: 0 auto;
}

.custom__item--image {
  margin: 0 auto;
  padding-left: 0;
}

.custom__item-inner {
  position: relative;
  display: block;
  text-align: left;
  max-width: 100%;
}

.custom__item-inner--collection,
.custom__item-inner--html {
  display: block;
}

.custom__item-inner--image {
  position: relative;
  margin: 0 auto;
} */
