html {
  overflow-x: hidden;
}
.banner {
  width: 134%;
  margin-right: 90px;
  display:flex;
  position: relative;
  flex-direction: columns;
}

.banner__box {
    text-align: center;
}

@media only screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__box {
    text-align: right;
  }

  .banner--content-align-mobile-left .banner__box {
    text-align: left;
  }