<div class="width">
  <div class="page-title">
    <h1 class="title">Raquetes de Padel e Acessórios</h1>
  </div>

  <div class="options-block">
    <ul class="blocks">
      <li class="options">
        <a href="/collections/raquetes-de-padel"><img src="https://cdn.shopify.com/s/files/1/0762/5428/2047/files/228141_g360-alpha-motion-paddle_A-2626397066.jpg?v=1696189942" alt="Raquetes de Padel Head">Todas as Raquetes
        </a>
      </li>
      <li class="options">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/0762/5428/2047/files/CoverBag.jpg?v=1696717458">Todos os Acessórios</a>
      </li>
    </ul>
  </div>

  <div class="about-padel">
    <h2>Queres aprender sobre o Padel em Angola</h2>
    <div class="img-about">
      <img src="https://cdn.shopify.com/s/files/1/0762/5428/2047/files/sobreImg.jpg?v=1696719537" alt="Jogadores de Padel em Angola">
    </div>
    <div>
      <button class="about">Sobre o Padel</button>
    </div>
  </div>
</div>

<style>
  .width {
    padding-bottom: 30px;
  }
  .page-title {
    padding: 20px;
  }

  .title {
    text-align: center;
  }

  .blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .options {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    text-align: -webkit-center;
    border-radius: 18px;
    font-weight: 700;
    box-shadow: 0 0 20px #0003;
  }

  .options a {
    color: #faa902;
  }
  .options:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }

  .about-padel {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;

  }

  .img-about {
    display: flex;
    width: 300px;
    height: 400px;

  }

  .img-about img {
    align-items: center;
  }

  .img-about img {
    border-radius: 200px;
  }

  .about {
    height: 75px;
    width: 100px;
    border-radius: 18px;
    outline: auto;
    outline-color: #faa902;
    background-color: #faa902;
    font-weight: 700;
    font-size: 20px;
  }
</style>